* {
	font-family: "autour one";
}
body {
	background-color: #e0ffff;
}
h2 {
	text-align: center;
}
p {
	font-size: 12px;
}
img {
	z-index: 1000;
	width: 120px;
	height: 80px;
	background-color: white;
	border-radius: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 20px;
}
.town-div {
	margin: auto;
	width: 700px;
}
.flex {
	display: flex;
	flex-wrap: wrap;
}
.loc-div {
	margin: auto;
	width: 450px;
	background-color: #92db9e; 
	border-radius: 20px;
	padding:20px;
	margin-bottom: 20px;
}
.hid {
	visibility: hidden;
}
.source {
	margin-top: 50px;
	font-size: 10px;
}
.list {
	width: 300px;
}

@media screen and (max-width:720px) {
	h2 {
		text-align: left;
		font-family: 14px;
	}
}